/*************** 
GENERAL
**************/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	background-image: url("https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

body, h1 {
	background-color: #fff;
	color: #680000;
	
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Merriweather', sans-serif;
  	margin: 15px 0;
  	font-size: 3.75em;
  	font-weight: bold;
  	line-height: 0.8em;
  	padding: 25px 0;
  	text-align: center;

}

p {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.75em;
	padding: 25px 0;
	margin: 5%;
}

.body {
	text-align: center;
}

a {
	text-decoration: none;
}

ul  {
	list-style: none;
}

h2 {
	text-align: center;
}

/*************** 
NAVIGATION
**************/


.nav {
	font-family: 'Merriweather', sans-serif;
  	/*margin: 15px 0;*/
  	font-size: 1em;
  	font-weight: bold;
  	/*padding: 25px 0;*/
	color: #680000;
	list-style-type: none;
	text-align: center;
	margin: 0;

}

.nav li {
	display: inline;
}

.nav a:hover {
	color: #ffe5ee;
}

/*************** 
BUTTON ANIMATION
**************/





