/*************** 
GENERAL
**************/

/* font for page */

body {
	font-family: 'Merriweather', serif;
}

body, h1 {
	background-color: #fff;
	color: #680000;
	
}

header {
	margin: 0;
	text-align: center;
}


